@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --ark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --spartan: 'Spartan', sans-serif;
}

body {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: var(--spartan);
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  overflow-x: hidden;
}

.container {
  padding: 5rem 1.5rem;
}

.info-container {
  text-align: center;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.rate .img-holder,
.rate p {
  margin: 0.25rem 0;
}

.heading {
  color: var(--very-dark-magenta);
  margin-bottom: 1.5rem;
}

.paragraph {
  color: var(--ark-grayish-magenta);
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.review-container .text {
  color: var(--very-dark-magenta);
  font-weight: 700;
}

.comment-box {
  background-color: var(--very-dark-magenta);
  margin: 1rem 0;
  padding: 3rem 1.75rem;
  border-radius: 0.5rem;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-info .img-holder {
  margin-right: 1.5rem;
}

.profile-info .img-holder img {
  width: 40px;
  border-radius: 50%;
}

.profile-info .info {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.profile-info .name {
  color: var(--white);
}

.profile-info .verify {
  color: var(--soft-pink);
}

.comment {
  color: var(--white);
  font-size: 0.85rem;
  line-height: 1.25rem;
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }
  .container {
    padding: 0.25rem;
    width: 80vw;
    min-height: 75vh;
    margin: 5rem 0;
  }

  .top-container {
    display: flex;
    flex-direction: row;
  }

  .info-container {
    flex-grow: 1;
    flex-basis: 0;
    text-align: start;
  }

  .info-container .heading {
    width: 75%;
    font-size: 2.75rem;
  }

  .info-container .paragraph {
    width: 80%;
  }
  .review-container {
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
  }

  .rate {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: flex-start;
    padding: 1rem 0;
  }

  .rate .img-holder {
    margin: 0 2rem;
  }

  .report-guru {
    margin-left: 2.75rem;
  }

  .best-tech {
    margin-left: 5.56rem;
  }

  .btm-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .comment-box {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
  }

  .comment-box.colton {
    margin-top: 2rem;
  }

  .comment-box.irene {
    margin: 0 2rem;
    margin-top: 4rem;
  }

  .comment-box.anne {
    margin-top: 6rem;
  }
}
